@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Please Watch</h1>
    <p>Learn about <iframe src="https://www.youtube.com/watch?v=l-FDFsHA20w&list=PLv-yaEqBPClxljls8xiM_GfxGhqaMce2E"></iframe>.</p>
</div>

<p><button onclick="myMove()">Click Me</button></p>

<div id="container">
    <div id="animate"></div>
</div>
